/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-bg-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png") center/cover no-repeat;

  --decor-elem-color: #ff0070;

  --brand-color: #db00ff;
  --brand-sh-color: #ff0070;

  --hover-bt-color: #ff007066;

  --main-tx-color: #f1b2ce;
  --accent-tx-color: #ff0070;
  --text-on-accent: #000028;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
