/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.page {
  font-size: 18px;

  background-image: var(--bg-image);
  background-position: top;
  background-repeat: no-repeat;
  /* background-size: 100% 100vh; */
  background-size: cover;
  background-attachment: fixed;

  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.section-padding {
  padding: 0 10px;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;

  position: relative;

  height: 100vh;

  min-height: 668px;

  padding-top: 10px;
}

.decorated-zone::before {
  content: "";
  display: block;

  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;

  width: 25px;
  height: 25px;

  border-top: 1px solid var(--decor-elem-color);
  border-right: 1px solid var(--decor-elem-color);
}

.decorated-zone::after {
  content: "";
  display: block;

  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;

  width: 25px;
  height: 25px;

  border-bottom: 1px solid var(--decor-elem-color);
  border-left: 1px solid var(--decor-elem-color);
}

.rec__icon {
  text-transform: uppercase;

  display: flex;
  gap: 10px;
  align-items: center;

  color: var(--accent-tx-color);

  position: absolute;
  inset-block-start: 12px;
  inset-inline-end: 19px;
}

.rec__icon::after {
  content: "";
  display: inline-block;

  width: 9px;
  height: 9px;
  border-radius: 50%;

  background-color: var(--decor-elem-color);
  box-shadow: 0px 0px 4px 2px var(--decor-elem-color);
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;

  justify-self: end;
  align-self: center;

  margin-bottom: 1px;

  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;

  inline-size: 70px;

  padding: 1px 13px 4.5px 13px;
  line-height: 18px;

  color: var(--accent-tx-color);
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-bt-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-tx-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-tx-color);
  pointer-events: none;
}

.header__title {
  font-size: var(--logo-size);
  font-weight: var(--fw-bold);
  line-height: 83%;

  justify-self: start;
  align-self: center;

  margin-bottom: 8px;

  color: var(--brand-color);
  text-shadow: 4px 4px 0 var(--brand-sh-color);
}

.header__text {
  background-color: var(--text-bg-color);

  max-width: 365px;

  margin-bottom: 20px;

  justify-self: end;
  align-self: center;
}

.header__paragraph {
  font-weight: var(--fw-bold);

  color: var(--text-on-accent);
}

/* Main part */
.main {
  display: grid;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-atricle__list {
  display: grid;
  gap: 50px;
}

.main-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-article__title {
  font-weight: var(--fw-bold);
  color: var(--accent-tx-color);
}

.main-article__subtitle,
.main-article__advice,
.main-gallery__title {
  font-weight: var(--fw-bold);
  color: var(--text-on-accent);

  background-color: var(--text-bg-color);
}

.main-article__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-article__advice {
  font-weight: var(--fw-regular);
}

.main-article__text {
  color: var(--main-tx-color);
}

.main-article__link {
  text-shadow: 2px 3px 0 var(--text-bg-color);

  text-decoration: none;
}

.main-article__link:hover {
  border-bottom: 1px solid var(--main-tx-color);
}

.main-article__link:focus {
  border: 1px solid var(--main-tx-color);
  padding: 0 3px;
  outline: none;
}

.main-gallery {
  display: grid;
  gap: 10px;
}

.main-gallery__title {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-gallery__item {
  justify-self: center;

  width: 355px;
  object-fit: cover;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;

  height: 100vh;
  min-height: 668px;

  position: relative;
}

.footer-title {
  font-size: var(--logo-size);
  font-weight: var(--fw-bold);
  line-height: 83%;

  padding-block-start: 285px;
  padding-block-end: 285px;

  padding: clamp(
      286px,
      calc(286px + (463 - 286) * ((100vw - 375px) / (768 - 375))),
      463px
    )
    0;

  color: var(--brand-color);
  text-shadow: 2px 2px 0 var(--brand-sh-color);
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-padding {
    padding: 0 20px;
  }

  .header {
    padding-top: 20px;
    min-height: 1024px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .rec__icon {
    inset-block-start: 22px;
    inset-inline-end: 29px;
  }

  .header__title {
    margin-left: -20px;
    margin-bottom: 17px;
    font-size: var(--logo-size);
  }

  .header__text {
    margin-bottom: 38px;
  }

  .main {
    gap: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .main-atricle__list {
    gap: 80px;
  }

  .main-article--tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main-atricle__list {
    gap: 80px;
  }

  .main-article__content {
    grid-column: 2;
  }

  .main-article__title {
    grid-row: span 2;
  }

  .main-article--desctop .main-article__title {
    inline-size: 236px;
  }

  .main-gallery {
    display: grid;
    gap: 20px;
  }

  .main-gallery__title {
    grid-column: span 3;
  }

  .main-gallery__item {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .main-gallery__item:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .main-gallery__item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .main-gallery__item:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .main-gallery__item:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .main-gallery__item:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .footer-title {
    font-size: var(--logo-size);

    padding: clamp(
        319px,
        calc(463px + (319 - 463) * ((100vw - 768px) / (1024 - 768))),
        463px
      )
      0;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu-list {
    justify-self: center;
    align-self: start;

    flex-direction: row;
  }

  .header__text {
    max-width: 491px;
  }

  .main-article--desctop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .main-article--desctop .main-article__title {
    grid-column: 1 / 4;
    inline-size: 315px;
  }

  .main-article--tablet {
    grid-template-columns: 315px 2fr;
  }

  .main-article--desctop .main-article__content {
    grid-column: auto;
  }
}
