/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Шрифты */
  --font-main: "IBM Plex mono", monospace;
  --fw-regular: normal;
  --fw-bold: bold;

  /* Цвета*/
  --bg-color: #000028;
  --text-bg-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");

  --decor-elem-color: #ff0070;

  --brand-color: #db00ff;
  --brand-sh-color: #ff0070;

  --hover-bt-color: #ff007066;

  --main-tx-color: #f1b2ce;
  --accent-tx-color: #ff0070;
  --text-on-accent: #000028;
}
